body{
    background-color:whitesmoke;
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.brand-logo {
    position:relative;
    justify-content: flex-start;
    line-height: 25px;
    width:80%;
    margin-top: 20px;
    margin-left: 5px;
    padding: 50px;
}

nav.nav-extended {
    height: 80px;
    
}

a:hover {
    text-decoration: none;
    color:green;
    background: none;
}

.sidenav li>active {
    background:none;
    border-radius: 0cm;
   
}


.flashes h4 {
    line-height: 3;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}