{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-4 center-align">Deluxe Room</h3>

    
<div class="row">
    {% for deluxe_room in deluxe_rooms %}
        <div class="col s12 m4">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ deluxe_room.room_number }}</span>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header white-text teal lighten-2">
                                
                            </div>
                            {% for task in tasks %}
                                <div class="collapsible-body">
                                    {% if task.room_number == deluxe_room.room_number%}
                                    <div>
                                        Room Status: {{ task.room_status }}
                                        {% if task.is_urgent == "on" %}
                                        <i class="fas fa-exclamation-circle white-text  text-lighten-2 tooltipped"
                                            data-position="right" data-tooltip="need cleaning ASAP"></i>
                                        {% endif %}
                                        <p><strong>Assigned Housekeeper: {{task.employee_name}}</strong></p>
                                        <p>{{ task.due_date }}</p>
                                        <p>{{ task.created_by }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}