{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-4 center-align">Deluxe Room</h3>

    
<div class="row">
    {% for deluxe_room in deluxe_rooms %}
        <div class="col s12 m6">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ deluxe_room.room_number }}</span>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header white-text teal lighten-2">Room Status: {{ deluxe_room.room_status }}</div>
                            <div class="collapsible-body">
                                <p><strong>Assigned Housekeeper: {{ deluxe_room.assigned_housekeeper}}</strong></p>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}