{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Hotel Rooms</h3>

    
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        {% if category.room_type|lower == "Deluxe Room"|lower %}
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>

                        {% elif category.room_type|lower == "Deluxe Studio Room"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxestudio_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>
                        
                        {% elif category.room_type|lower == "Premier Studio Room"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('premierstudio_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>  

                        {% elif category.room_type|lower == "Standard Room"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>  
                        
                        {% elif category.room_type|lower == "Single Room Basic"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>
                            
                        {% elif category.room_type|lower == "Summer Sale Room"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>      

                        {% elif category.room_type|lower == "Holiday Room"|lower%} 
                            <span class="card-title">{{ category.room_type }}</span> 
                            <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a> 
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
              
{% endblock %}