{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-4 center-align">Premier Studio Room</h3>

    
<div class="row">
    {% for premierstudio_room in premierstudio_rooms %}
        <div class="col s12 m4">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ premierstudio_room.room_number }}</span>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header white-text teal lighten-2">Room Status: 
                            
                            </div>
                            {% for room in rooms %}
                                <div class="collapsible-body">
                                    {% if room.room_number == premierstudio_room.room_number%}
                                    <div>
                                        Room Status: {{ premierstudio_room.room_status }}
                                        {% if premierstudio_room.is_urgent == "on" %}
                                            <i class="fas fa-exclamation-circle white-text  text-lighten-2 tooltipped"
                                            data-position="right" data-tooltip="need cleaning ASAP"></i>
                                        {% endif %}
                                        <p><strong>Assigned Housekeeper: {{room.employee_name}}</strong></p>
                                        <p>{{ room.is_urgent }}</p>
                                        <p>{{ room.due_date }}</p>
                                        <p>{{ room.created_by }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}