{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Hotel Rooms</h3>

    
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.room_type }}</span> 
                        <a href="{{ url_for('deluxe_rooms') }}" class="teal-text text-darken-4">Available Rooms</a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
              
{% endblock %}