{% extends "base.html" %}
{% block content %}
   
    
    <ul class="collapsible">
        {% for task in tasks %}
        <li>
          <div class="collapsible-header white-text teal lighten-2">
            <i class="fas fa-caret-down"></i>
                <strong>{{ task.category_name}}</strong> : Room{{ task.room_number}}
                {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle white-text  text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="need cleaning ASAP"></i>
                {% endif %}
            </div>
          <div class="collapsible-body">
                <p><strong>{{ task.room_status }}</strong></p>
                <p><strong>{{ task.checkin_date }}</strong></p>
                <p><strong>{{ task.checkout_date }}</strong></p>
                <p><strong>{{task.house_keeping_status }}</strong></p>
                <p><strong>{{ task.house_keeper_id }}</strong></p>
                <p><strong>{{ task.housekeeping_schedule }}</strong></p>


          </div>
        </li>
        {% endfor %}
    </ul>
    

{% endblock %}
